name: docker-build

on:
  workflow_call:
    inputs:
      push:
        type: boolean
        required: true
      version:
        type: string
        required: true

defaults:
  run:
    shell: bash -xe {0}

jobs:
  docker-build:
    strategy:
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v6
      - uses: docker/setup-buildx-action@v3
      - name: Login to Packages Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: winebarrel
          password: ${{ secrets.GITHUB_TOKEN }}
      - id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/winebarrel/ssowrap
      - uses: docker/build-push-action@v6
        with:
          platforms: ${{ matrix.platform }}
          push: ${{ inputs.push }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            VERSION=${{ inputs.version }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
